<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YELP_TOKEN</key>
	<string>b_web2X5oez7Qk6VLNWyHrhWPcuTnnc3ycz8CyEeA8pxx5TkJtaus3YzLjopYe5RQa0afOGxckx3hTN7KXTBpg0JO6wbobpmM_RN9UHDVaGPQHRAx3aI535Cx_73WXYx</string>
	<key>YELP_CLIENT_SECRET</key>
	<string>DkBA6RNq7Qk4wi3j7DAB9XRcmGyZXX8if9FKXFSApT4hFB66krEq9YCcmqRdB9qo</string>
	<key>YELP_CLIENT_ID</key>
	<string>pzoxW-OJYS9mxnkXAtJy1g</string>
	<key>CLIENT_ID</key>
	<string>WZWLCFG24SIUTDB5MJGQ0RAKCY4C444YTO4PJDTS1CGCJI0M</string>
	<key>CLIENT_SECRET</key>
	<string>TCOSOLDN4ETRLMXREKUGE1PRWCHZ2AAODTXC2YZYZQXV522C</string>
</dict>
</plist>
